/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: white;
$secondary-background: #faeee4;
$accent-color: #fcb177;
$border: 1px solid $accent-color;


body {
  background-color: $primary-background;
  font-family: Roboto;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.dim {
  background-color: $secondary-background;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

.player-start-page {
  align-items: center;
  background: $primary-background;
  bottom: 0;
  display: grid;
  height: 422px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top:0;
  width: 900px;
}

button {
  background-color: $accent-color;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 15px;
  height: 44px;
  letter-spacing: 1px;
  width: 115px;
}

.player-start-page button {
  margin: auto;
}

.player-start-page div {
  font-size: 20px;
}

input {
  font-size: 15px;
  height: 25px;
  margin-left: 15px;
  text-align: center;
  width: 150px;
}

header, aside {
  background-color: $secondary-background;
  display: flex;
  justify-content: space-around;
}

header button {
  margin-top: 20px;
}

aside {
  font-weight: 300;
  margin-bottom: 20px;
}

article h2 {
  margin-top: 15px 0px 0px;;
}

.score-box {
  border-radius: 5px;
  height: 50px;
  line-height: 0.5;
  margin: 0 0 20px;
  min-width: 150px;
  padding: 5px 10px 10px;
}

.puzzle-container, .actions-container {
  border-radius: 5px;
  margin: auto;
  min-height: 200px;
  padding: 10px;
  width: 900px;
}

.puzzle-container {
  border: $border;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.puzzle-char, .space, .used, .letter {
  height: 25px;
  width: 25px;
}

.puzzle-char {
  border: $border;
  margin: 84px 5px;
  padding-top: 5px;
}

.incorrect-guesses, .buy-guess {
  border: $border;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 275px;
  padding: 20px 20px 0;
  position: absolute;
  top: 484px;
  width: 200px;
}

.incorrect-guesses {
  left: 20px;
}

.buy-guess {
  right: 20px;
}

.letter:hover {
  color: $accent-color;
  cursor: pointer;
}

.used {
  color: gray;
}

.used:hover {
  color: gray;
  cursor: default;
}

.arrow {
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-top: 60px solid $accent-color;
  height: 0; 
  top: 625px;
  width: 0; 
}

.wheel {
  border-radius: 50%;
  border: solid 1px $accent-color;
  height: 400px;
  top: 662px;
  width: 620px;
}

.spin-val {
  margin: 33px;
}

.arrow, .wheel, .actions-container {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.actions-container {
  background-color: $secondary-background;
  bottom: -355px;
  width: 100%;
  z-index: 2;
}

.active {
  color: $primary-background;
}

.hidden {
  display: none;
}