/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: pink;
$border-color: red;

body {
  background-color: $primary-background;
  font-family: Roboto;
  text-align: center;
}

.dim {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0.5;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.player-start-page {
  align-items: center;
  background: $primary-background;
  bottom: 0;
  display: grid;
  grid-template-rows: 1.3fr repeat(4 1fr);
  height: 422px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top:0;
  width: 900px;
  z-index: 1;
}

header, aside {
  display: flex;
  justify-content: space-around;
}

article h2 {
  top-margin: 15px 0px 0px;;
}

main {
  // display: grid;
  // grid-template-rows: 1fr 2.5fr 6fr;
}

.score-box {
  border: 2px solid $border-color;
  height: 50px;
  line-height: 0.5;
  margin: 8px;
  min-width: 150px;
  padding: 5px 10px 10px;
}

.puzzle-container, .actions-container {
  border: 2px solid $border-color;
  margin: auto;
  min-height: 200px;
  padding: 10px;
  width: 900px;
}

.puzzle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.puzzle-char {
  border: 1px solid $border-color;
  height: 25px;
  margin: 84px 5px;
  padding-top: 5px;
  width: 25px;
}

.space {
  height: 25px;
  width: 25px;
}

.incorrect-guesses, .buy-guess {
  border: 2px solid $border-color;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 275px;
  padding: 20px 20px 0;
  position: absolute;
  top: 484px;
  width: 200px;
}

.incorrect-guesses {
  left: 20px;
}

.buy-guess {
  right: 20px;
}

.letter {
  height: 25px;
  width: 25px;
}

.letter:hover {
  color: $border-color;
  cursor: pointer;
}

.arrow {
  width: 0; 
  height: 0; 
  border-left: 42px solid transparent;
  border-right: 42px solid transparent;
  border-top: 60px solid $border-color;
  top: 625px;
}

.wheel {
  border-radius: 50%;
  border: 2px solid red;
  height: 400px;
  top: 662px;
  width: 620px;
}

.spin-val {
  margin: 33px;
}

.arrow, .wheel, .actions-container {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.actions-container {
  background-color: $primary-background;
  top: 844px;
  z-index: 2;
}

.hidden {
  display: none;
}